In [3]:
#libraries
import pandas as pd
import numpy as np
import sqlalchemy
import os

# be sure cx_Oracle is installed

In [ ]:
path = r'C:\Users\liz20\Documents'

# Connect  SQL

In [4]:
sqlalchemy.create_engine('oracle://hr:hr@localhost:1234/orcl')

ModuleNotFoundError: No module named 'cx_Oracle'

In [ ]:
%load_ext sql

In [ ]:
%sql oracle://hr:hr@localhost:1234/orcl

# Create flat_data.csv

In [ ]:
#Create a data dictionary
rows= [
['Darius','Mufutau','3901','Finance','10'],
['Tiger','Elliott','5489','IT','15'],
['Malik','Macaulay','5444','Sales','17'],
['Ali','Vance','8993','Marketing','16'],
['Randall','Deacon','9515','IT','15'],
['Josiah','Lee','8113','Sales','17'],
['Dante','Mohammad','8446','Sales','17'],
['Wyatt','Kuame','4817','Marketing','16'],
['Quinn','Oliver','5513','Finance','10'],
['Oliver','Gary','5158','IT','15'],
['Thane','Phelan','4957','Sales','17'],
['Walter','Lester','3864','Finance','10'],
['Samson','Dolan','6855','IT','15'],
['Beck','Walker','7077','Sales','17'],
['Lucas','Marshall','7499','Marketing','16'],
['John','Nash','4269','IT','15'],
['Quinlan','Elliott','7503','Sales','17'],
['Ivan','Dennis','4048','Sales','17'],
['Wang','Ronan','9319','Marketing','16'],
['Stone','Jameson','9354','Finance','10'],
['Clayton','Jarrod','4102','IT','15'],
['Cain','Sean','7353','Sales','17']
]

In [ ]:
#Turn the dictionary into a dataframe
df=pd.DataFrame(rows,columns=['first_name','last_name','salary','department','salary_increment'])

In [ ]:
df

In [ ]:
#check variable types
df.dtypes

In [ ]:
#change variable types
df['first_name']= df['first_name'].astype('string')
df['last_name']= df['last_name'].astype('string')
df['salary']= df['salary'].astype('int')
df['department']= df['department'].astype('string')
df['salary_increment']= df['salary_increment'].astype('int')

In [ ]:
df.dtypes

In [ ]:
#save employee records to a csv
df.to_csv(os.path.join(path, 'flat_data.csv'))

In [ ]:
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="ABC_Emplyees"
)

mycursor = mydb.cursor()

In [ ]:
# Read data from SQL table
sql_data = pandas.read_sql_table('database',engine)

In [ ]:
#Dataframe of what SQL import would reflect
sql_data = pd.DataFrame(columns=['employee: id','first_name','last_name','salary','department_id:','department: id','name','salary_increment'])

# Update SQL columns with flat_data.csv

In [ ]:
%%sql

BULK INSERT employees
FROM 'C:\Users\liz20\Documents\flat_data.csv'
WITH 
(
    FIRSTROW = 2, -- as 1st one is header
    FIELDTERMINATOR = ',',  --CSV field delimiter
    ROWTERMINATOR = '\n',   --Use to shift the control to next row
    TABLOCK
)

In [ ]:
%%sql

UPDATE ABC_employees
SET ABC_employees.first_name = employees.first_name,
    ABC_employees.last_name = employees.last_name,
    ABC_employees.salary = employees.salary,
    ABC_employees.department = employees.department,
    ABC_employees.salary_increment = employees.salary_increment
;

# Update salaries

In [ ]:
#rewrite salaries in SQL format
%%sql

UPDATE ABC_Employees 
SET salary = salary*(1+(salary_increment/100))
;

# View result

In [ ]:
result= %sql SELECT employee_id, salary FROM ABC_employees
df_reslt=result.DataFrame()
df_result